{# templates/tache/tache-add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Créer une tâche - TaskLinker{% endblock %}
{% block page_title %}Créer une tâche{% endblock %}

{% block body %}
   {{ form_start(form) }}

   <div>
      <label>Titre de la tâche</label>
      {{ form_widget(form.titre) }}
      {# Affiche les erreurs liées à ce champ (si validation échoue) #}
      {{ form_errors(form.titre) }}
   </div>

   <div>
   {# permet d'afficher le label, le widget et les erreurs pour la description #}
      <label>Description</label>
      {{ form_widget(form.description) }}
      {{ form_errors(form.description) }}
   </div>

   <div class="flex-form">
      <div>
      {# permet d'afficher le label, le widget et les erreurs pour la date d'échéance #}
         <label>Date</label>
         {{ form_widget(form.dateEcheance) }}
         {{ form_errors(form.dateEcheance) }}
      </div>
      <div>
      {# permet d'afficher le label, le widget et les erreurs pour le statut #}
         <label>Statut</label>
         {{ form_widget(form.statut) }}
         {{ form_errors(form.statut) }}
      </div>
   </div>

   <div>
   {# permet d'afficher le label, le widget et les erreurs pour le membre assigné #}
      <label>Membre</label>
      {{ form_widget(form.employeAssigne) }}
      {{ form_errors(form.employeAssigne) }}
   </div>

   <button class="button button-submit">Ajouter</button>

   {{ form_end(form) }}
{% endblock %}
